* {
  box-sizing: border-box;
}
.Hover {
  display: inline-flex;
  flex-direction: column;
}
.text {
  padding: 0px;
  margin: 16px;
  border-bottom: 1px dotted black;
}

.tooltip {
  background-color: gray;
  color: white;
  border-radius: 4px;
  padding: 8px;
  bottom: -40px;
  margin: 0px;
  display: none;
}
.Hover:hover .tooltip {
  display: block;
}
